#header {
    display: flex;
    align-items: center;
}

.header-text {
    width: auto;
    //margin: 16px;
    padding: 0;
    text-align: center;
    align-content: center;
    font-weight: 300;
}
