button {
    padding: 3ch;
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
}

#icon {
    height: 6.5ch;
    width: 6.5ch;
}

.mat-spotify {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14, 174, 87, 1) 0%, rgba(12, 116, 117, 1) 90%);
}

.mat-linkedin {
    background: rgb(11, 72, 180);
    background: linear-gradient(0deg, rgba(11, 72, 180, 1) 0%, rgba(45, 128, 218, 1) 100%);
}

.mat-github {
    background-image: linear-gradient(99deg, rgba(115, 18, 81, 1) 10.6%, rgba(28, 28, 28, 1) 118%);
}

.mat-lastfm {
    background-image: radial-gradient(circle 860px at 11.8% 33.5%, rgba(240, 30, 92, 1) 0%, rgba(244, 49, 74, 1) 30.5%, rgba(249, 75, 37, 1) 56.1%, rgba(250, 88, 19, 1) 75.6%, rgba(253, 102, 2, 1) 100.2%);
}

.mat-cv {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.mat-instagram {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.mat-facebook {
    background-image: linear-gradient(288deg, rgba(0, 85, 255, 1) 1.5%, rgba(4, 56, 115, 1) 91.6%);
}

.mat-tiktok {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(100, 43, 115, 1) 0%, rgba(4, 0, 4, 1) 90%);
}
