<mat-card class="pink-cards" style="margin-bottom: 3ch;">
    <mat-card-content>
        <mat-card-title>
            ⚠️ ‼️ ⚒️ Sajt je još uvek u izradi! ⚒️ ‼️️ ⚠️
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card style="margin-bottom: 1%;">
    <mat-card-content>
        Trenutno pripremamo novi salon! Pratite nas na mrežama za najnovije update-ove
        oko novog salona! Linkove možete pronaći ispod!
    </mat-card-content>
</mat-card>

<mat-card class="pink-cards">
    <app-links-grid></app-links-grid>
</mat-card>
